.error{
    color: rgb(255, 70, 70);
    border-radius: 20px;
    background-color: lightgrey;
    border-color: rgb(255, 70, 70);
    border-style: solid;
    font-size: 20px;
    padding: 10px;
    margin: 20px 5px;
}
.success{
    color: green;
    border-radius: 20px;
    background-color: lightgrey;
    border-color: green;
    border-style: solid;
    font-size: 20px;
    padding: 10px;
    margin: 20px 5px;
}